html {
  scroll-behavior: smooth;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: grey;
}

h1 {
  text-align: center;
  font-weight: bold;
}

.break {
  padding-top: 600px;
}

.card {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  background-color: rgb(255, 255, 248);
  border-color: rgb(255, 255, 248);
}

.input-group-field {
  background-color: rgb(255, 255, 248);
}

h3 {
  color: rgb(3, 3, 26);
  font-weight: bolder;
  background-color: rgb(255, 255, 248);
}
