html {
  scroll-behavior: smooth;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background: lightgrey;
}

h1 {
  text-align: center;
}

.break {
  padding-top: 200px;
}

card {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border-color: blue;
}

.modal {
  position: absolute;
  z-index: 1000;
}
